<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>iTerm-Neovim-Shortchuts.alfredworkflow</string>
	<key>category</key>
	<string>Terminal</string>
	<key>connections</key>
	<dict/>
	<key>createdby</key>
	<string>Kenzie MacKinnon</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Working with iTerm and Neovim</string>
	<key>objects</key>
	<array/>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
